@page
@model Sjekklista.Identity.Pages.Home.Index

<div class="welcome-page">
    <h1>
        <span class="sl-check" style="width: 48px; height: 48px;"></span>
        Velkommen til Sjekklista Identity
        <small class="text-muted">(versjon @Model.Version)</small>
    </h1>

    <ul>
        <li>
            <span class="sl-check" style="width: 16px; height: 16px; font-size: 12px;"></span>
            IdentityServer publiserer et
            <a href="~/.well-known/openid-configuration">oppdagelsesdokument</a>
            hvor du kan finne metadata og lenker til alle endepunktene, nøkkelmateriale, osv.
        </li>
        <li>
            <span class="sl-check" style="width: 16px; height: 16px; font-size: 12px;"></span>
            Klikk <a href="~/diagnostics">her</a> for å se kravene for din nåværende økt.
        </li>
        <li>
            <span class="sl-check" style="width: 16px; height: 16px; font-size: 12px;"></span>
            Klikk <a href="~/grants">her</a> for å administrere dine lagrede tillatelser.
        </li>
        <li>
            <span class="sl-check" style="width: 16px; height: 16px; font-size: 12px;"></span>
            Klikk <a href="~/serversidesessions">her</a> for å vise serverside-økter.
        </li>
        <li>
            <span class="sl-check" style="width: 16px; height: 16px; font-size: 12px;"></span>
            Klikk <a href="~/ciba/all">her</a> for å vise dine ventende CIBA-innloggingsforespørsler.
        </li>
        <li>
            <span class="sl-check" style="width: 16px; height: 16px; font-size: 12px;"></span>
            Her er lenker til
            <a href="https://github.com/duendesoftware/IdentityServer">kildekode-repositoriet</a>,
            og <a href="https://github.com/duendesoftware/samples">klare til bruk eksempler</a>.
        </li>
    </ul>

    @if(Model.License != null)
    {
        <h2 style="color: var(--primary-color); margin-top: 40px;">Lisens</h2>
        <dl>
            <dt>Serienummer</dt>
            <dd>@Model.License.SerialNumber</dd>
            <dt>Utløpsdato</dt>
            <dd>@Model.License.Expiration!.Value.ToLongDateString()</dd>
        </dl>
    }
</div>
