@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-purple: #825bf9;
  --color-brand-blue: #0052cc;
  --color-brand-orange: #ffab00;
  --color-brand-green: #00c49a;
  --color-brand-gray: #f4f5f7;
  --color-brand-dark: #1d1d1d;
  --color-brand-red: #d32f2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
