@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-brand-purple: #825bf9;
  --color-brand-blue: #0052cc;
  --color-brand-orange: #ffab00;
  --color-brand-green: #00c49a;
  --color-brand-gray: #f4f5f7;
  --color-brand-dark: #1d1d1d;
  --color-brand-red: #d32f2f;
}

@theme inline {
  --color-brand-purple: #825bf9;
  --color-brand-blue: #0052cc;
  --color-brand-orange: #ffab00;
  --color-brand-green: #00c49a;
  --color-brand-gray: #f4f5f7;
  --color-brand-dark: #1d1d1d;
  --color-brand-red: #d32f2f;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
