@page
@model Sjekklista.Identity.Pages.Login.Index

<div class="login-page">
    <div class="lead">
        <h1><span class="sl-check"></span> Logg inn</h1>
        <p>Velg hvordan du vil logge inn på Sjekklista</p>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.View.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2 style="margin: 0; font-size: 1.25rem;">
                            <span class="glyphicon glyphicon-user"></span>
                            Lokal konto
                        </h2>
                    </div>

                    <div class="card-body">
                        <form asp-page="/Account/Login/Index">
                            <input type="hidden" asp-for="Input.ReturnUrl" />

                            <div class="form-group">
                                <label asp-for="Input.Username">Brukernavn</label>
                                <input class="form-control" placeholder="Skriv inn brukernavn" asp-for="Input.Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password">Passord</label>
                                <input type="password" class="form-control" placeholder="Skriv inn passord" asp-for="Input.Password" autocomplete="off">
                            </div>
                            
                            @if (Model.View.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="Input.RememberLogin">
                                        <label class="form-check-label" asp-for="Input.RememberLogin">
                                            Husk meg
                                        </label>
                                    </div>
                                </div>
                            }
                            
                            <button class="btn btn-primary" name="Input.Button" value="login">
                                <span class="glyphicon glyphicon-log-in" style="color: white;"></span>
                                Logg inn
                            </button>
                            <button class="btn btn-secondary" name="Input.Button" value="cancel">Avbryt</button>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.View.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2 style="margin: 0; font-size: 1.25rem;">
                            <span class="glyphicon glyphicon-cloud"></span>
                            Ekstern konto
                        </h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.View.VisibleExternalProviders)
                            {
                                <li class="list-inline-item" style="margin-bottom: 10px;">
                                    <a class="btn btn-secondary"
                                       asp-page="/ExternalLogin/Challenge"
                                       asp-route-scheme="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.Input.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Ugyldig innloggingsforespørsel</strong>
                Det er ingen påloggingsmetoder konfigurert for denne forespørselen.
            </div>
        }
    </div>
</div>