name: CD Backend - API

on:
  push:
    branches:
      - main
    paths:
      - "backend/sjekklista-backend/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - name: Install dependencies and build
        working-directory: backend/sjekklista-backend
        run: |
          npm ci
          npm run build

      - name: Upload full backend
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: backend/sjekklista-backend

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download compiled artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: ./deploy

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_CAADA46384994C688D4AEADEFF89C7E2 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E2F75DE0155244D182A5AEE9F03EC533 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7285179794ED47E396E0D27EE8CF9B7F }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "sjekklista-api"
          slot-name: "Production"
          package: ./deploy
