name: Manual Infra Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Which environment to deploy"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
          - prod

jobs:
  call-deploy-infra:
    uses: ./.github/workflows/deploy-infra-template.yml
    with:
      environment: ${{ github.event.inputs.environment }}
