# Ensures that pullrequests into main has to go
# through the 'test'-branch to ensure E2E.
name: "Check Branch"

on:
  pull_request:

jobs:
  check_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Check branch
        if: github.base_ref == 'main' && github.head_ref != 'test'
        run: |
          echo "ERROR: You can only merge to main from test. This because of the automated testing pipeline."
          exit 1
